@import "tailwindcss";

@theme inline {
  --color-primary: #800000;

  --font-heading: "Poppins";
  --font-body: "Mulish";
}

body {
  font-family: var(--font-body), system-ui, sans-serif;
  color: #2d2d2d;
  background: #ffffff;
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-family: var(--font-heading), system-ui, sans-serif;
  line-height: 1.3;
}
